@import '../../global.scss';

.topbar {
  background-color: #fff;
  &-container {
    display: flex;
    padding: 10px 2rem;
    // justify-content: flex-end;
    gap: 30px;
    color: gray;
    user-select: none;
    .left {
      display: flex;
      align-items: center;
      gap: 20px;
      z-index: 1;
      .after-select-btn {
        display: flex;
        justify-content: flex-end;
        
      }
      .report-category{
        font-size: 1.4rem;
        color: #474747;
        font-weight: bold;
      }
      .search-report-input {
        border: 1px solid $gray;
        padding: 7px 10px;
        border-radius: 5px;
        @include shadow;
        @include flex();
        input{
          border: none;
          outline: none
        }
      }
    }
    .right {
      @include flex();
      position: relative;
      gap: 20px;
      .delete-btn {
        border: 1px solid $gray;
        padding: 5px 10px;
        border-radius: 5px;
        color: #020202;
        font-weight: bold;
        @include shadow;
        cursor: pointer;
      }
    }
  }
}

.reports-page {
  background-color: #edf0f4;
  // height: 130vh;
  &-container {
    .top {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 3rem;
    }
    .bottom {
      display: flex;
      height: 75vh;
      padding-bottom: 4rem;
      .left {
        flex: 2;
        background-color: #fff;
        margin: 0 1rem 0;
        border-radius: 5px;
        position: relative;
        font-size: 18px;
        color: #4e4e4e;
        overflow-y: scroll;
        h3 {
          padding: 0 15px;
        }
        &::-webkit-scrollbar {
          width: 8px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $gray;
          border-radius: 5px;
        }
        &::-webkit-scrollbar-track {
          background-color: #ffffff;
          border-radius: 5px;
        }
        &::-webkit-scrollbar-corner {
          background-color: #f0f0f0;
        }
        scrollbar-width: thin;
        scrollbar-color: #6c757d #f0f0f0;
        h3 {
        }
        .search {
          display: flex;
          align-items: center;
          border: 1px solid $gray;
          padding: 5px 10px;
          margin: 0 15px;
          border-radius: 50px;
          margin-bottom: 10px;
          input {
            border: none;
            outline: none;
            width: 100%;
          }
        }
        .report-list{
          font-size: 19px;
          display: flex;
          flex-direction: column;
          .list-item{
            padding: 10px 20px;
            &.active{
              background-color: $light-blue;
            }
            &:hover{
              background-color: $light-blue;
            }
          }
        }
      }
      .right {
        margin: 0 1rem 0 0;
        border-radius: 5px;
        flex: 8;
        background-color: #fff;
        overflow-x: auto;
      }
    }
  }
}

//remove outline when click on table row cell
.MuiDataGrid-cell:focus {
  outline: none !important;
}
